.blog-container {
    height: 89vh;
    background: linear-gradient(90deg, rgba(242,154,233,1) 0%, rgba(208,157,245,1) 40%, rgba(103,177,236,1) 100%);
}

.blog-card {
    background: white;
    padding: 1vw;
    margin: 0 3vw 0 3vw;
    border: solid 2px white;
    border-radius: 15px;
}

.blog-title {
    background: white;
}

.blog-text {
    background: white;
    margin: 3vh 0 3vh 0;
}

/* buttons */
.buttons-container {
    display: flex;
    background: white;
}

.like-btn {
    background: white;
    width: 1.5vw;
    border: none;
    margin-right: 1vw;
}

.heart-img, .comments-img {
    background: white;
}

/* comments */
.comments-btn {
    display: flex;
    background: white;
    width: 1.5vw;
    border: none;
}

.num-comments {
    background: white;
    font-size: 1vw;
    margin: auto 0;
}

.comments-container {
    display: grid;
    align-content: end;
    justify-content: end;
}

/* admin btns */
.top-admin-btn {
    margin: 0 0 1vh 3vw;
    padding: .5rem;
    background: rgb(158, 252, 158);
    border: none;
    border-radius: 20px;
}

.add-post-btn {
    background: inherit;
}

.admin-btn-container {
    background: white;
    display: flex;
    justify-content: end;
}

.admin-btn {
    margin: .5rem;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.edit-post-btn {
    padding: .5rem;
    background: rgb(248, 193, 92);

}

.delete-post-btn {
    padding: .5rem;
    background: rgb(247, 78, 78);
}

.hidden {
    display: none;
}
