.blog-container {
    height: 89vh;
    padding-bottom: 10vh;
}


/* admin btns */
.top-admin-btn {
    margin: 0 0 1vh 3vw;
    padding: .5rem;
    background: white;
    border: none;
    border-radius: 20px;
}

.add-post-btn {
    background: inherit;
}

.hidden {
    display: none;
}
