.home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 85vh;
}

.baby-h1 {
    font-family: 'Great Vibes';
    font-size: 100px;
    margin-top: 3%;
}

.home-title {
    text-align: center;
    width: 100vw;
}

.home-images-container {
    /* display: flex; */
    text-align: center;
    width: 100vw;
}

.home-images {
    height: 50vh;
    margin: 1%;
    border-radius: 20px;
}

.home-registries {
    text-align: center;
    width: 100vw;
    font-size: 4vh;
}

.registry-link {
    text-decoration: none;
    color: black;
}

.registry-link:hover {
    color: red;
}

@media (max-width: 500px) {
    .home-images {
        height: 200px;
    }  

    .baby-h1 {
        font-size: 50px;
    }
}