nav {
    text-align: end;
    display: flex;
    justify-content: end;
    background: linear-gradient(90deg, rgba(242,154,233,1) 0%, rgba(208,157,245,1) 40%, rgba(103,177,236,1) 100%);
    padding-bottom: 2vh;
}

a {
    font-size: 3vh;
    padding: 1%;
    color: white;
    background: none;
}

a:hover {
    color: black;
    background-color: white;
}

.hidden {
    display: none;
}

.google-btn {
    background: none;
    padding: 1%;
}

.logout-btn {
    padding: 1vw;
    color: white;
    border: none;
    font-size: 25px;
    background: none;
}

.g_id_signout:hover {
    background-color: white;
    color: black;
}

#login-btn-container, #logout-btn-container {
    background: none;
}


