nav {
    text-align: end;
    display: flex;
    justify-content: end;
    padding-bottom: 2vh;
}

a {
    font-size: 35px;
    padding: 1%;
    color: slategray;
    background: none;
}

a:hover {
    color: black;
    background-color: white;
}

.hidden {
    display: none;
}

.google-btn {
    background: none;
    padding: 1%;
}

.logout-btn {
    padding: 1vw;
    color: slategray;
    border: none;
    font-size: 35px;
    background: none;
}

.logout-btn:hover {
    color: black;
    background-color: white;
}

.g_id_signout:hover {
    background-color: white;
    color: black;
}

#login-btn-container, #logout-btn-container {
    background: none;
}


