nav {
    text-align: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2vh;
}

.nav-button {
    font-size: 35px;
    padding: 1%;
    color: slategray;
    background: none;
    border: none;
}

.nav-button:hover {
    color: black;
    background-color: white;
}

.hidden {
    display: none;
}

.google-btn {
    background: none;
    padding: 1%;
}

.logout-btn {
    padding: 1vw;
    color: slategray;
    border: none;
    font-size: 35px;
    background: none;
}

.logout-btn:hover {
    color: black;
    background-color: white;
}

.g_id_signout:hover {
    background-color: white;
    color: black;
}

#login-btn-container, #logout-btn-container {
    background: none;
}

@media (max-width: 500px) {
    nav {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-button, .logout-btn {
        font-size: 30px;
    }
}


