.poll-container {
    height: 89vh;
    background: linear-gradient(90deg, rgba(242,154,233,1) 0%, rgba(208,157,245,1) 40%, rgba(103,177,236,1) 100%);
}

.poll-title-container {
    display: flex;
    justify-content: center;
}

.poll-title {
    font-family: 'Great Vibes';
    font-size: 5vh;
    text-align: center;
    /* padding: 1rem; */
    /* border-radius: 2rem; */
}

.iframe-container {
    display: flex;
    justify-content: center;
}

.iframe {
    margin: 3%;
    width: 50vw;
    height: 40vh;
}
